*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body{
    background-color: rgba(15, 9, 15, 0.7);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.div1{
        height: 500px;
        width: 500px;
        background-color: aqua;
        border-radius: 50%;
        display: inline-block;
        transition: all 0.5s ease-in-out;


}

.heading{
    margin-top: -55px;
    margin-left: 149px;
    color: orangered;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 40%);
    transition: text-shadow 0.3s ease-in-out;
    font-size: 39px;
}

.heading:hover {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
  }
.stopwatch{
    /* padding-top: 70px; */
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(129, 38, 38, 0.9);
    padding: 20px 24px;
    border-radius: 10px;

}

.timerDisplay{
    margin-left: 40px;
    font-size: 50px;
    font-weight: 600;
}

.buttons{
    margin-top: 20px;
    margin-left: 61px;
}

.btn{
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    background-color: var(--clr);
    padding: 12px 24px;
    margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
}